[Unit]
Description=Ethereum go client
After=syslog.target network.target

[Service]
User=geth
Group=geth
Type=simple
ExecStart=/usr/local/bin/geth --datadir /var/lib/geth --identity mjolnir --http --http.addr 0.0.0.0 --http.api eth,net,engine,admin --metrics --metrics.addr 0.0.0.0 --goerli --authrpc.jwtsecret /var/lib/geth/geth/jwtsecret
Nice=10
KillMode=process
KillSignal=SIGINT
TimeoutStartSec=90
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
[Install]
WantedBy=multi-user.target
